<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/userDetail" method="post">
        username: <br><input type="text" value="<%= data.username %>" name="username"><br>
        email: <br><input type="email" value="<%= data.email %>" name="email"><br>
        role: <br><input type="text" value="<%= data.role %>" name="role"><br>
        first name: <br><input type="text" value="<%= data.Profile.firstname %>" name="fname"><br>
        last name: <br><input type="text" value="<%= data.Profile.lastname %>" name="lname"><br>
        Birth: <br><input type="date" value="<%= data.Profile.dateOfBirth %>" name="age"><br>
        phone: <br><textarea type="text" name="address"><%= data.Profile.phoneNumber %></textarea><br>
        <button type="submit">update</button>
        <a href="/home">cancel</a>
    </form>
</body>
</html>